@{
    ViewData["Title"] = "Dashboard";
}

<div class="container mt-5">
    <div class="d-flex align-items-center justify-content-end mb-3 gap-2">
        <h5>Filtrar por: </h5>
        <select id="filter" class="form-select w-25">
            <option value="month">Mês</option>
            <option value="quarter">Trimestre</option>
            <option value="year">Ano</option>
        </select>
    </div>

    <!-- Indicadores -->
    <div class="grid__indicadores text-center mb-4">
        <div class="w-full">
            <div class="card__indicadores p-3 bg-light">
                <div class="icon">
                    <i class="fa-solid fa-envelope-open-text"></i>
                </div>
                <div class="meta">
                    <div class="text relative">Notas emitidas</div>
                    <div class="value" id="totalEmitidas">...</div>
                </div>
            </div>
        </div>
        <div class="w-full">
            <div class="card__indicadores p-3 bg-light">
                <div class="icon">
                    <i class="fa-solid fa-envelope-open"></i>
                </div>
                <div class="meta">
                    <div class="text relative">Notas emitidas <small>(sem cobrança)</small></div>
                    <div class="value" id="semCobranca">...</div>
                </div>
            </div>
        </div>
        <div class="w-full">
            <div class="card__indicadores p-3 bg-light">
                <div class="icon">
                    <i class="fa-solid fa-business-time"></i>
                </div>
                <div class="meta">
                    <div class="text relative">Notas vencidas <small>(inadimplência)</small></div>
                    <div class="value" id="inadimplencia">...</div>
                </div>
            </div>
        </div>
        <div class="w-full">
            <div class="card__indicadores p-3 bg-light">
                <div class="icon">
                    <i class="fa-regular fa-clock"></i>
                </div>
                <div class="meta">
                    <div class="text relative">Notas a vencer</div>
                    <div class="value" id="aVencer">...</div>
                </div>
            </div>
        </div>
        <div class="w-full">
            <div class="card__indicadores p-3 bg-light">
                <div class="icon">
                    <i class="fa-solid fa-dollar-sign"></i>
                </div>
                <div class="meta">
                    <div class="text relative">Notas pagas</div>
                    <div class="value" id="pagas">...</div>
                </div>
            </div>
        </div>
    </div>

    <!-- Gráficos -->
    <div class="grid__graficos gap-4">
        <div class="w-full card__graficos bg-light py-3 px-2">
            <div class="d-flex justify-content-between pt-2 pb-4">
                <h4 class="px-3">Evolução da Inadimplência</h4>
                <select id="filterYearInadimplencia">
                    <option value="2023">2023</option>
                    <option value="2024">2024</option>
                </select>
            </div>
            <div id="inadimplenciaChart"></div>
        </div>
        <div class="w-full card__graficos bg-light py-3 px-2">
            <div class="d-flex justify-content-between pt-2 pb-4">
                <h4 class="px-3">Evolução da Receita recebida</h4>
                <select id="filterYearReceita">
                    <option value="2023">2023</option>
                    <option value="2024">2024</option>
                </select>
            </div>
            <div id="receitaChart"></div>
        </div>
    </div>
</div>

@section Scripts {
    <script src="~/js/dashboard/dashboard.js"></script>
}

@section Styles {
    <link rel="stylesheet" href="~/css/dashboard/dashboard.css" />
}