html {
    font-size: 14px;
}

#closeSidebar {
    display: block;
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
}

.filterInput {
    width: 25%;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
    #closeSidebar {
        display: none;
    }
    #openSidebar {
        display: none;
    }
    .filterInput {
        width: 15%;
    }
}

.card__tables {
    border-radius: .7rem;
}

.card__tables .title {
    font-weight: bold;
    font-size: 20px;
    padding: .75rem;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}