html {
    font-size: 14px;
}

#closeSidebar {
    display: block;
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
}

.filterInput {
    width: 25%;
}

.dataTables_wrapper .dataTables_length,
.dataTables_wrapper .dataTables_filter,
.dataTables_wrapper .dataTables_info,
.dataTables_wrapper .dataTables_processing,
.dataTables_wrapper .dataTables_paginate {
    padding: 1rem;
}

.icon__user {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    background-color: #00000033;
    border-radius: 50%;
}

.icon__user i {
    color: #4d73a7;
    font-size: 1.2rem;
}

.icon__document {
    cursor: pointer;
    font-size: 1.4rem;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
    #closeSidebar {
        display: none;
    }
    #openSidebar {
        display: none;
    }
    .filterInput {
        width: 15%;
    }
}

.card__tables {
    border-radius: .7rem;
}

.card__tables .title {
    font-weight: bold;
    font-size: 20px;
    padding: .75rem;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}